.htmlContent h1 {
  @apply text-xl !important uppercase;
}
.htmlContent h2 {
  @apply text-lg !important pb-2 uppercase;
}
.htmlContent h3 {
  @apply pb-2 uppercase;
}
.htmlContent figure {
  @apply p-4;
}
.htmlContent p {
  @apply mb-4 !important;
}
.htmlContent p > a {
  @apply font-bold;
}
